body {
  height: 100%;
  margin: 0;
}

.nav-bar {
  text-align: center;
}

.nav-bar ul {
  list=style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  display: inline-block;
  border: 1px solid red;
  padding: 1.1em;
  margin: 1em;
}

section {
  height: 100vh;
}
