<nav class="nav-bar" id="navbar">
  <ul class="nav-bar-items">
    <div class="nav-bar-section nav-bar-left">
      <li class="nav-bar-item" ng-click="goTo('story')">OUR STORY</li>
      <li class="nav-bar-item" ng-click="goTo('pictures')">PICTURES</li>
      <li class="nav-bar-item" ng-click="goTo('wedding-party')">THE WEDDING PARTY</li>
    </div>
    <div class="nav-bar-section nav-bar-right">
      <li class="nav-bar-item" ng-click="goTo('event-information')">EVENT INFORMATION</li>
      <li class="nav-bar-item" ng-click="goTo('rsvp')">RSVP</li>
      <li class="nav-bar-item" ng-click="goTo('registry')">REGISTRY</li>
    </div>
  </ul>
</nav>

<div class="container" ng-class="{shifted: navBarMobileShown}">
  <div id="top"></div>

  <i ng-click="toggleNav()" id="nav-bar-mobile" class="nav-bar-show fa fa-bars fa-2x"></i>
  <i ng-click="toggleNav()" id="nav-bar-mobile" class="nav-bar-hide fa fa-chevron-left fa-2x"></i>

  <section class="main-section story">
    <span id="story" class="anchor"></span>
    <story></story>
  </section>

  <section class="main-section pictures">
    <span id="pictures" class="anchor"></span>
    <h1 class="section-title">PICTURES</h1>
    <picture-section> </picture-section>
  </section>

  <section class="main-section wedding-party">
    <span id="wedding-party" class="anchor"></span>
    <wedding-party></wedding-party>
    <div class="section-divide"></div>
  </section>

  <section class="main-section event-information">
    <span id="event-information" class="anchor"></span>
    <event-information></event-information>
  </section>

  <section class="main-section rsvp">
    <span id="rsvp" class="anchor"></span>
    <rsvp></rsvp>
    <div class="section-divide"></div>
  </section>

  <section class="main-section registry">
    <span id="registry" class="anchor"></span>
    <registry></registry>
  </section>
</div>
