<div class="pure-g">
  <div class="saratoga-wedding pure-u-1 pure-u-lg-1-2">
    <div class="event-details">
      <h3 class="event-title">THE SARATOGA WEDDING<span id="wedding-date">November 1, 2015</span></h3>
      <div class="content-font">
        <p class="event-address">22801 Big Basin Way, Saratoga, CA 95070</p>
        <br />
        <p>11AM</p>
        <p>Ceremony</p>
        <br />
        <p>After</p>
        <p>Brunch with Sangria and Mimosas</p>
      </div>
    </div>
  </div>
  <div class="thailand-wedding pure-u-1 pure-u-lg-1-2">
    <div class="event-details">
      <h3 class="event-title">THE THAILAND WEDDING<span id="wedding-date">February 12, 2016</span></h3>
      <div class="content-font">
        <p class="event-address">Bangkok, Thailand</p>
        <br />
        <p>2PM</p>
        <p>Ceremony @ Holy Redeemer Church</p>
        <br />
        <p>6PM</p>
        <p>Reception @ Bankampu</p>
      </div>
    </div>
  </div>
</div>
