<h1 class="section-title animated growIn slowest">THE SARATOGA WEDDING <span id="event-date">November 1st, 2015</span></h1>

<div class="event-information-mask"></div>
<div class="event-information-background-half saratoga-ceremony-background"></div>
<div class="event-information-background-half saratoga-reception-background"></div>

<div class="saratoga-ceremony">
  <div class="event-details">
    <img class="cake-icon animated rotateIn slower" src="images/cake_icon.png" />
    <p>ceremony</p>
    <p>11am</p>
  </div>
</div>
<div class="saratoga-reception">
  <div class="event-details">
    <img class="cheers-icon animated rotateIn slower" src="images/cheers_icon.png" />
    <p>reception</p>
    <p>2pm</p>
  </div>
</div>

<img class="rings-icon" src="images/rings_icon.png" />
<p class="event-address">22801 big basin way, saratoga, ca 95070</p>



