<div class="picture-carousel">
  <div>
    <img class="pure-img" src="images/pic1.jpg" alt="01"/>
  </div>
  <div>
    <img class="pure-img" src="images/pic4.jpg" alt="04"/>
  </div>
  <div>
    <img class="pure-img" src="images/pic7.jpg" alt="07"/>
  </div>
</div>

<div class="picture-carousel-nav">
  <div>
    <img class="pure-img" src="images/pic1.jpg" alt="01"/>
  </div>
  <div>
    <img class="pure-img" src="images/pic4.jpg" alt="04"/>
  </div>
  <div>
    <img class="pure-img" src="images/pic7.jpg" alt="07"/>
  </div>
</div>
