<h1 class="section-title">REGISTRY</h1>
<div class="registry-content content-font">
  <div>
    What we want most for our wedding is to have all our friends and family there to celebrate the occassion with us, and so, more than anything we would simply enjoy your presence. (We mean it!) That said, we also enjoy dishware and shiny new four-slice toasters too, so if you really would like to get us something, you can find suggestions here:
  </div>
  <a href="https://secure.westelm.com/registry/595wrhw6x6/registry-list.html" target="_blank">
    <img class="pure-img" src="images/west_elm_logo.png" alt="" />
  </a>
  <a href="https://secure.williams-sonoma.com/registry/8r5zl2st5f/registry-list.html" target="_blank">
    <img class="pure-img" src="images/william-sonoma-logo.png" alt="" />
  </a>
</div>
