<h1 class="section-title">{{title}}</h1>
<form ng-submit="submitForm()">
  <p>I,
    <input type="text" placeholder="FIRST NAME" name="first-name" ng-model="guest.firstName" />
    <input type="text" placeholder="LAST NAME" name="last-name" ng-model="guest.lastName" /> will celebrate
    <select ng-model="guest.willAttend" ng-options="o.value as o.label for o in attendingOptions"></select>
  </p>

  <div ng-if="guest.willAttend">
    <p>I will be attending the celebration at</p>
    <label>
      <input type="checkbox" ng-model="guest.attendingSaratoga" ng-true-value="true" ng-false-value="false"/>
      Saratoga Springs
    </label><br />
    <label>
      <input type="checkbox" ng-model="guest.attendingThailand" ng-true-value="true" ng-false-value="false"/>
      Bangkok, Thailand
    </label><br />
    and will be bring
    <select ng-model="guest.plusOnes" ng-options="num for num in [1,2,3,4,5]">
    </select>
    guests.
  </div>
  <div>
    <br />
    You can reach me at:
    <br /><input type="text" ng-model="guest.email" placeholder="MYEAMIL@EXAMPLE.COM"/>
    <br /><input type="text" ng-model="guest.phone" placeholder="(555)555-1234"/>
  </div>

  <br /><input type="submit" />
</form>

