<div id="peter" class="greetings" ng-if="showGreeting">
  Hi! I'm Peter.
</div>
<div id="natalie" class="greetings" ng-if="showGreeting">
  Hi! I'm Natalie.
</div>
<div class="content">
  <div id="intro-story" ng-if="showIntroStory">
    <img id="nat-and-p-logo" src="images/logo.png" alt="Nat and P are getting married" />
    <h3 class="content-font">Saratoga, California - November 1, 2015 <br> & <br> Bangkok, Thailand - February 12, 2016</h3>
    <div id="show-main-story" class="content-font" ng-click="showStory()">
      Click here to read our story.
    </div>
  </div>
  <div id="main-story" ng-if="showMainStory">
    <h3>{{selectedMilestone}}</h3>
    <p class="content-font">{{selectedContent}}</p>
    <br />
    <div class="milestones">
      <span class="milestone" ng-repeat="(milestone, content) in stories" ng-click="showContentFor(milestone)" ng-class="{selected: isSelected(milestone)}"g>
        {{milestone}}
      </span>
    </div>
    <div class="arrow">
      <img src="images/arrow.png" alt="" />
    </div>
  </div>
</div>
