@import 'utils';

$background_opacity: 0.75;
$event_information_section_height: 1000px;

.event-information {
  padding: 0 !important;
  color: $white;
  height: $event_information_section_height;

  @include small_desktop {
    height: $event_information_section_height * 2;
  }
}

.event-title {
  position: relative;

  @include mobile {
    font-size: 24px;
  }
}

.event-address {
  @include mobile {
    font-size: 20px;
  }
}

%event-information-text {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.event-information .section-title {
  @extend %event-information-text;
  top: $section_title_font_size;
}

%event-information-half {
  height: $event_information_section_height;

  @include mobile {
    height: $event_information_section_height / 2;
  }
}

.saratoga-wedding {
  @extend %event-information-half;
  background: image-url('saratoga_wedding.png') center center;
  background-size: cover;
}

.thailand-wedding {
  @extend %event-information-half;
  background: image-url('thailand_wedding5.png') center center;
  background-size: cover;
}

.event-details {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: $main_font;
  font-size: 2em;

  @include mobile {
    font-size: 20px;
  }
}

.event-details p {
  margin: 0;
}

.cake-icon,
.cheers-icon {
  margin-top: 1.5em;
}

.rings-icon {
  position: absolute;
  margin: 0 auto;
  width: 125px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
