@import 'utils';
@import 'colors';
@import 'font_faces/avenir';
@import 'font-awesome';

$container_z_index: 1;
$nav_mobile_width: 200px;
$nav_mobile_toggle_margin: 10px;
$transition_time: 0.5s;
$nav_bar_offset: -96px;

body {
  height: 100%;
  margin: 0;
  font-family: $avenir;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.pictures {
  background-color: #9DBBE1;
}

.rsvp {
  background-color: #F6E4D0;
}

.event-information {
  background-color: #D0E3E9;
}

.story {
  background-color: #F0F0F0;
}

.wedding-party {
  background-color: #F8E3E2;
}

.registry {
  background-color: #DDE0C5;
}

.scroll-lock {
  overflow-x: hidden;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  bottom: 100%;
  min-width: 100%;
  min-height: 100%;
  transition: $transition_time;
  z-index: $container_z_index;
  background-color: $white;
}

.nav-bar {
  position: fixed;
  width: 100%;
  text-align: center;
  line-height: 3em;
  font-weight: 300;
  color: $charcoal;
  background-color: $light_grey;
  z-index: $container_z_index + 1;

  @include mobile {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $container_z_index - 1;
  }
}

.nav-bar-mobile {
  display: none;
  @include mobile {
    position: fixed;
    top: $nav_mobile_toggle_margin;
    left: $nav_mobile_toggle_margin;
    cursor: pointer;
    transition: $transition_time;
    z-index: $container_z_index + 1;
  }
}

.shifted {
  left: $nav_mobile_width;
}

.shifted .nav-bar-mobile {
  left: $nav_mobile_width + $nav_mobile_toggle_margin;
}

.nav-bar.show {
  opacity: 1;
}

.shifted .nav-bar-show {
  opacity: 0;
}

.nav-bar-hide {
  opacity: 0;
}

.shifted .nav-bar-hide {
  opacity: 1;
}

.nav-bar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;

  img {
    vertical-align: middle;
    margin: 0.5em;
  }

  @include mobile {
    width: $nav_mobile_width;
  }
}

.nav-bar-item {
  display: inline-block;
  margin-left: 1.5em;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: $white;
  }

  @include mobile {
    display: block;
    margin: 0;
  }
}

.app section {
  position: relative;
  min-height: calc(100vh - 2em);
  padding: 3em 3em 0;
  border: 1px solid transparent;

  @include mobile {
    min-height: 100vh;
  }
}

.story {
  top: 40px;

  @include mobile {
    top: 0;
  }
}

.section-title {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  margin-top: 0;

}

.rsvp-form {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.rsvp-form input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid;
  padding: 0.25em 0.5em;
  margin: 0.5em;
}

.first-name {
  width: 7em;
}

.last-name {
  width: 200px;
}

.email, .phone{
  width: 300px;
}

.rsvp-form select {
  width: 200px;
  border: none;
}

label.check-box {
  line-height: 1.5em;
}
.num-guests {
  margin: 1.5em;
}

.select-events {
  margin: 1.5em;
}

.contact-info {
  margin-top: 100px;

  input {
    width: 400px;
    line-height: 1.5em;

    @include mobile {
      width: 300px;
    }
  }
}

.thank-you {
  text-align: center;
}

.milestone {
  text-align: center;
  li {
    list-style-type: none;
  }
}

footer {
  background-color: $light_grey;
}

.footer-content {
  text-align: right;
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}

.picture-carousel {
  img {
    display: block;
    margin: 0 auto;
    border: 10px solid white;
    zoom: 80%;
  }
}

.picture-carousel-nav {
  width: 50%;
  margin: 0 auto;

  img {
    display: block;
    margin: 0 auto;
    zoom: 20%;
    border: 5px solid white;
  }
}

.anchor {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  top: $nav_bar_offset;
  left: 0;
  visibility: hidden;

  @include mobile {
  top: 0px;
  }
}
