@import 'colors';
@import 'font_faces/avenir';

body {
  height: 100%;
  margin: 0;
  font-family: $avenir;
  font-weight: 300;
}

.nav-bar {
  position: fixed;
  width: 100%;
  text-align: center;
  line-height: 3em;
  font-weight: 300;
  color: $charcoal;
  background-color: $light_grey;
}

.nav-bar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar-item {
  display: inline-block;
  margin-left: 1.5em;
  cursor: pointer;
  &:first-child {
    margin-left: 0;
  }
}

.app section {
  height: calc(100vh - 3em);
  padding: 3em 3em 0;
  border: 1px solid green;
}

.section-title {
  font-size: 4em;
  font-weight: 300;
  text-align: center;
}

#up-to-top {
  border: 1px solid blue;
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 1em;
  cursor: pointer;
}
