@import 'utils';
@import 'colors';
@import 'font_faces/avenir';
@import 'font-awesome';

$container_z_index: 1;
$nav_mobile_width: 200px;
$nav_mobile_toggle_margin: 10px;
$transition_time: 0.5s;

body {
  height: 100%;
  margin: 0;
  font-family: $avenir;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.scroll-lock {
  overflow-x: hidden;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  bottom: 100%;
  min-width: 100%;
  min-height: 100%;
  transition: $transition_time;
  z-index: $container_z_index;
  background-color: $white;
}

.nav-bar {
  position: fixed;
  width: 100%;
  text-align: center;
  line-height: 3em;
  font-weight: 300;
  color: $charcoal;
  background-color: $light_grey;
  z-index: $container_z_index + 1;

  @include mobile {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $container_z_index - 1;
  }
}

.nav-bar-mobile {
  display: none;
  @include mobile {
    position: fixed;
    top: $nav_mobile_toggle_margin;
    left: $nav_mobile_toggle_margin;
    cursor: pointer;
    transition: $transition_time;
    z-index: $container_z_index + 1;
  }
}

.shifted {
  left: $nav_mobile_width;
}

.shifted .nav-bar-mobile {
  left: $nav_mobile_width + $nav_mobile_toggle_margin;
}

.nav-bar.show {
  opacity: 1;
}

.shifted .nav-bar-show {
  opacity: 0;
}

.nav-bar-hide {
  opacity: 0;
}

.shifted .nav-bar-hide {
  opacity: 1;
}

.nav-bar-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  img {
    vertical-align: middle;
    margin: 0.5em;
  }

  @include mobile {
    width: $nav_mobile_width;
  }
}

.nav-bar-item {
  display: inline-block;
  margin-left: 1.5em;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: $white;
  }

  @include mobile {
    display: block;
    margin: 0;
  }
}

.app section {
  min-height: calc(100vh - 3em);
  padding: 3em 3em 0;
  border: 1px solid green;
}

.section-title {
  font-size: 4em;
  font-weight: 300;
  text-align: center;
}

#up-to-top {
  border: 1px solid blue;
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 1em;
  cursor: pointer;
}

.rsvp-form {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.rsvp-form input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid;
  padding: 0.25em 0.5em;
  margin: 0.5em;
}

.first-name {
  width: 150px;
}

.last-name {
  width: 200px;
}

.email, .phone{
  width: 300px;
}

.rsvp-form select {
  width: 200px;
  border: none;
}

label.check-box {
  line-height: 1.5em;
}
.num-guests {
  margin: 1.5em;
}

.select-events {
  margin: 1.5em;
}

.contact-info {
  margin-top: 100px;
}

.contact-info input {
  width: 400px;
  line-height: 1.5em;
}

.not-attending {
  margin: 2em;
}

.thank-you {
  text-align: center;
}

.milestone {
  text-align: center;
  li {
    list-style-type: none;
  }
}

footer {
  background-color: $light_grey;
}

.footer-content {
  text-align: right;
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}
