@import 'utils';

body {
  height: 100%;
  margin: 0;
  font-family: $main_font;
  font-weight: 200;
}

.app {
  background-color: $light_grey;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.scroll-lock {
  overflow-x: hidden;
}

.container {
  position: relative;
  top: 3em;
  left: 0;
  bottom: 100%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transition: $transition_time;
  -moz-transition: $transition_time;
  -ms-transition: $transition_time;
  -o-transition: $transition_time;
  transition: $transition_time;
  z-index: $container_z_index;
  @include mobile {
    top: 0;
  }

  @include small_desktop {
    height: 100%;
  }
}

.app section {
  position: relative;
  background-color: $light_grey;
  min-height: $section_height;
  padding: $section_title_font_size $section_title_font_size 0;
  border: 1px solid transparent;

  &.pictures {
    @include mobile {
      min-height: 300px;
    }
  }
}


.section-title {
  font-size: $section_title_font_size;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
}

.section-divide {
  position: absolute;
  border-top: 1px solid $grey;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 6em;
  width: 25%;
  display: block;
}

.milestone {
  text-align: center;
  li {
    list-style-type: none;
  }
}

footer {
  position: relative;
}

.footer-content {
  background-color: $light_grey;
  text-align: right;
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -6em;
  z-index: 10;

  @include mobile {
    bottom: -0.5em;
  }
}

.anchor {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  top: -$nav_bar_height;
  left: 0;
  visibility: hidden;

  @include mobile {
    top: 0px;
  }
}

.registry-content {
  border: 1px solid $grey;
  background-color: white;
  width: 80%;
  padding: 2em;
  margin: 4em auto;
  line-height: 2em;
  font-size: 1.2em;

  div {
    margin-bottom: 2em;
  }

  @include mobile {
    padding: 1em;
    width: 100%;
  }
}

.registry {
  img {
    margin: 3em auto;
    width: 35%;
    zoom: 60%;
    @include mobile {
      width: 80%;
    }
  }
}

#wedding-date {
  display: block;
  font-weight: 300;
}

