@import 'utils';
@import 'variables';
@import 'colors';
@import 'font_faces/avenir';
@import 'font-awesome';
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500);

$main_font: 'Source Code Pro';

body {
  height: 100%;
  margin: 0;
  font-family: $main_font;
  font-weight: 200;
}

.app {
  background-color: $light_grey;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.scroll-lock {
  overflow-x: hidden;
}

.container {
  position: relative;
  top: 6em;
  left: 0;
  bottom: 100%;
  min-width: 100%;
  min-height: 100%;
  transition: $transition_time;
  z-index: $container_z_index;
  @include mobile {
    top: 0;
  }
}

.app section {
  position: relative;
  background-color: $light_grey;
  min-height: $section_height;
  padding: $section_title_font_size $section_title_font_size 0;
  border: 1px solid transparent;

  @include mobile {
    min-height: 100vh;
  }
}

.story {
  @include mobile {
    top: 0;
  }
}

.section-title {
  font-size: $section_title_font_size;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
}

.section-divide {
  position: absolute;
  border-top: 1px solid $grey;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6em;
  width: 25%;
  display: block;
}

.rsvp-form {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.rsvp-form input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid;
  padding: 0.25em 0.5em;
  margin: 0.5em;
}

.first-name {
  width: 7em;
}

.last-name {
  width: 200px;
}

.email, .phone{
  width: 300px;
}

.rsvp-form select {
  width: 200px;
  border: none;
}

label.check-box {
  line-height: 1.5em;
}
.num-guests {
  margin: 1.5em;
}

.select-events {
  margin: 1.5em;
}

.contact-info {
  margin-top: 100px;

  input {
    width: 400px;
    line-height: 1.5em;

    @include mobile {
      width: 300px;
    }
  }
}

.thank-you {
  text-align: center;
}

.milestone {
  text-align: center;
  li {
    list-style-type: none;
  }
}

footer {
  position: relative;
}

.footer-content {
  background-color: $light_grey;
  text-align: right;
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -6em;
  z-index: 10;

  @include mobile {
    bottom: -0.5em;
  }
}

.anchor {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  top: -$nav_bar_height;
  left: 0;
  visibility: hidden;

  @include mobile {
    top: 0px;
  }
}

.registry-content {
  border: 1px solid $grey;
  background-color: white;
  width: 80%;
  padding: 2em;
  margin: 4em auto;
  line-height: 2em;
  font-size: 1.2em;

  div {
    margin-bottom: 2em;
  }

  @include mobile {
    padding: 1em;
  }
}

.registry {
  img {
    margin: 3em auto;
    width: 35%;
    zoom: 60%;
    @include mobile {
      width: 80%;
    }
  }
}
