@import 'main';

$paper_z_index: 1;
$grey_border: 1px solid $grey;

%absolute-center {
  position: absolute;
  bottom: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

%envelope {
  @extend %absolute-center;
  width: 775px;
}

%paper-size {
  width: 700px;
  height: 500px;
}

.envelope-front {
  @extend %envelope;
  z-index: $paper_z_index + 1;
}

.envelope-back {
  @extend %envelope;
  z-index: $paper_z_index - 1;
}

.envelope-paper {
  @extend %absolute-center;
  @extend %paper-size;
  border-top: $grey_border;
  border-right: $grey_border;
  border-left: $grey_border;
  background-color: $white;
  z-index: $paper_z_index;
}

.rsvp-form {
  @extend %absolute-center;
  @extend %paper-size;
  text-align: center;
  font-size: 1.5em;
  z-index: $paper_z_index + 2;
}

.rsvp-form input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid;
  padding: 0.25em 0.5em;
  margin: 0.5em;
}

.first-name {
  width: 7em;
}

.last-name {
  width: 200px;
}

.email, .phone{
  width: 300px;
}

.rsvp-form select {
  width: 200px;
  border: none;
}

label.check-box {
  line-height: 1.5em;
}
.num-guests {
  margin: 1.5em;
}

.select-events {
  margin: 1.5em;
}

.contact-info {
  margin-top: 50px;

  input {
    width: 400px;
    line-height: 1.5em;

    @include mobile {
      width: 300px;
    }
  }
}

.thank-you {
  text-align: center;
}

