@import 'utils';

$paper_z_index: 1;
$paper_starting_bottom: 150px;
$paper_ending_bottom: 350px;
$envelope_width: 775px;
$grey_border: 1px solid $grey;

.rsvp {
  height: 1050px;
}

%absolute-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

%envelope {
  @extend %absolute-center;
  bottom: 150px;
  width: $envelope_width;

  @include mobile {
    display: none;
  }
}

%paper {
  width: 700px;
  height: 600px;
  bottom: $paper_starting_bottom;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

  @include mobile {
    top: 10%;
    padding: 1em;
    width: 80%;
  }
}

.rsvp-pre-submit {
  opacity: 1;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.envelope-front {
  @extend %envelope;
  z-index: $paper_z_index + 1;
}

.envelope-back {
  @extend %envelope;
  z-index: $paper_z_index - 1;
}

.envelope-paper {
  @extend %absolute-center;
  @extend %paper;
  border-top: $grey_border;
  border-right: $grey_border;
  border-left: $grey_border;
  border-bottom: $grey_border;
  background-color: $white;
  z-index: $paper_z_index;
}

.rsvp-form {
  @extend %absolute-center;
  @extend %paper;
  text-align: center;
  font-size: 1.25em;
  z-index: $paper_z_index + 2;

  @include mobile {
    font-size: 1em;
  }
}

.rsvp-form input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid;
  padding: 0.25em 0.5em;
  margin: 0.5em;
}

.first-name {
  width: 7em;
}

.last-name {
  width: 200px;
}

.email, .phone{
  width: 300px;
}

.rsvp-form select {
  width: 200px;
  border: none;
}

label.check-box {
  line-height: 1.5em;
}
.num-guests {
  margin: 1.5em;
}

.select-events {
  margin: 1.5em;
}

.contact-info {
  margin-top: 1.5em;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

  input {
    width: 300px;
    line-height: 1.25em;

    @include mobile {
      width: 300px;
    }
  }
}

.thank-you {
  @extend %absolute-center;
  @extend %paper;
  text-align: center;
  width: $envelope_width;
  height: 700px;
  font-size: 1.5em;
  opacity: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

  @include mobile {
    font-size: 1em;
  }
}

.sign-thank-you {
  font-family: $handwritten_font;
  font-size: 1.5em;
}

.airplane {
  margin-bottom: 25px;
}

.rsvp-form-submit {
  width: 100px !important;
}

#questions {
  margin-top: 1.5em;

  a {
    color: $grey;
    text-decoration: none;
  }
}
