@import 'utils';

.story {
  position: relative;
  background: url('http://placehold.it/1595x860') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include mobile {
    top: 0;
  }

  .content {
    position: absolute;
    top: 25%; left: 50%;
    margin: 0 auto;
    width: 60%;
    min-height: 15em;
    background-color: white;
    padding: 1em;

    transform: translate(-50%,-25%);
    -webkit-transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);

    @include mobile {
      width: 90%;
    }
  }
}
