@import 'utils';

.story {
  position: relative;
  background: url('http://placehold.it/1595x860') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include mobile {
    top: 0;
  }

  .content {
    h3 {
      text-align: center;
    }

    position: absolute;
    top: 25%; left: 50%;
    margin: 0 auto;
    width: 65%;
    min-height: 15em;
    background-color: white;
    padding: 2em;

    transform: translate(-50%,-25%);
    -webkit-transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    @include mobile {
      width: 90%;
      padding: 1em;
    }
  }
}

.milestones {
  text-align: center;
  margin: 0 auto;
  width: 85%;

  span {
    margin: 0.5em;
  }

  .milestone {
    cursor: pointer;
  }

  .selected {
    color: $grey;
  }
}
