@import 'utils';

.story {
  position: relative;
  background: image-url('intro.png') no-repeat center center;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;

  @include mobile {
    top: 0;
  }

  .content {
    h3 {
      text-align: center;

      @include small_desktop {
        font-size: 0.9em;
      }
    }

    position: absolute;
    top: 10%; left: 50%;
    margin: 0 auto;
    width: 65%;
    min-height: 15em;
    max-height: 21em;
    background-color: white;
    padding: 2em;

    transform: translate(-50%,-20%);
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
    opacity: 0;

    &.loaded {
      opacity: 1;
    }


    @include mobile {
      width: 90%;
      font-size: 0.9em;
      padding: 1em;
    }
  }

  .arrow {
    margin-left: 15%;
    width: 90%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

img#nat-and-p-logo {
  margin-bottom: 1em;
}

.milestones {
  text-align: center;
  margin: 0 auto;
  width: 85%;

  span {
    margin: 4%;

    @include mobile {
      margin: 2%;
    }
  }

  .milestone {
    cursor: pointer;

    &:hover {
      color: $light_grey;
    }

    @include mobile {
      font-size: 0.65em;
    }
  }

  .selected {
    color: $light_grey;
  }
}

.greetings {
  position: absolute;
  bottom: 40%;

  &#peter {
    left: 56%;

    @include mobile {
      left: 65%;
    }
  }

  &#natalie {
    left: 33%;

    @include mobile {
      left: 10%;
    }
  }
}

#intro-story {
  text-align: center;
}

#show-main-story {
  cursor: pointer;

  &:hover {
    color: $light_grey;
  }
}
