@import 'utils';

.story {
  position: relative;
  background: image-url('how-we-met.png') no-repeat center center;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;

  @include mobile {
    top: 0;
  }

  .content {
    h3 {
      text-align: center;
    }

    position: absolute;
    top: 15%; left: 50%;
    margin: 0 auto;
    width: 65%;
    min-height: 15em;
    background-color: white;
    padding: 2em;

    transform: translate(-50%,-20%);
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    @include mobile {
      width: 90%;
      padding: 1em;
    }
  }

  .arrow {
    margin-left: 15%;
    width: 90%;

    img {
     width: 100%;
     height: 100%;
    }
  }
}

.milestones {
  text-align: center;
  margin: 0 auto;
  width: 85%;

  span {
    margin: 4%;

    @include mobile {
      margin: 3%;
    }
  }


  .milestone {
    cursor: pointer;

    @include mobile {
      font-size: 0.65em;
    }
  }

  .selected {
    color: $grey;
  }
}
