@import 'utils';

.story {
  background: url('http://placehold.it/1595x860') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include mobile {
    top: 0;
  }

  .content {
    display: block;
    margin: 0 auto;
    width: 70%;
    background-color: white;
  }
}
