@import 'utils';

.hi-swing, .how-we-met, .started-dating, .butter, .proposal, .wedding {
  position: relative;
  background: image-url('stories.png') no-repeat;
  margin: 0 auto;
  width: 144px;
  height: 605px;
  top: 70px;
}

.how-we-met {
  background-position: -144px;
}

.started-dating {
  background-position: calc(-144px * 2);
}

.butter {
  background-position: calc(-144px * 3);
}

.proposal {
  background-position: calc(-144px * 4);
}

.wedding {
  background-position: calc(-144px * 5 - 1px);
  width: 163px;
}


.story {
  position: relative;

  @include mobile {
    top: 0;
  }

  .content {
    h3 {
      text-align: center;
    }

    position: absolute;
    top: 10%; left: 50%;
    margin: 0 auto;
    width: 65%;
    min-height: 15em;
    max-height: 21em;
    background-color: white;
    padding: 2em;

    transform: translate(-50%,-20%);
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);

    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
    opacity: 0;

    &.loaded {
      opacity: 1;
    }


    @include mobile {
      width: 90%;
      font-size: 0.9em;
      padding: 1em;
    }
  }

  .arrow {
    margin-left: 15%;
    width: 90%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

img#nat-and-p-logo {
  margin-bottom: 1em;
}

.milestones {
  text-align: center;
  margin: 0 auto;
  width: 85%;

  span {
    margin: 4%;

    @include mobile {
      margin: 2%;
    }
  }

  .milestone {
    cursor: pointer;

    &:hover {
      color: $light_grey;
    }

    @include mobile {
      font-size: 0.65em;
    }
  }

  .selected {
    color: $light_grey;
  }
}

.greetings {
  position: absolute;
  bottom: 40%;
  font-family: $handwritten_font;

  &#peter {
    left: 56%;

    @include mobile {
      left: 65%;
    }
  }

  &#natalie {
    left: 37%;

    @include mobile {
      left: 19%;
    }
  }
}

#intro-story {
  text-align: center;
}

#show-main-story {
  cursor: pointer;

  &:hover {
    color: $light_grey;
  }
}
