@import 'variables';
@import 'colors';
@import 'font_faces/avenir';
@import 'font-awesome';
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500);
@import url(http://fonts.googleapis.com/css?family=Lato:300|Open+Sans:300|Source+Sans+Pro:300|Abel);


$mobile_max: 768px;
$desktop_min: 1024px;

@mixin mobile {
  @media screen and (max-width: $mobile_max) {
    @content;
  }
}

@mixin small_desktop {
  @media screen and (min-width: $mobile_max + 1) and (max-width: $desktop_min - 1) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop_min) {
    @content;
  }
}
