$main_font: 'Source Code Pro';
$container_z_index: 1;
$transition_time: 0.5s;
$nav_mobile_width: 200px;
$nav_mobile_toggle_margin: 10px;
$nav_bar_height: 3em;
$section_height: 100vh;
$section_title_font_size: 32px;
$wedding_party_image_size: 135px;
$wedding_party_image_size_smaller: 90px;
