@import 'utils';

.wedding-party {
  span {
    font-weight: 400;
    font-size: 18px;
    color: $grey;
    line-height: $wedding_party_image_size;
    text-align: center;

    &.title {
      font-weight: 100;
    }

    @include mobile {
      line-height: $wedding_party_image_size;
    }
  }

  .wrapper {
    position: relative;
    margin: 0 auto;
    width: 70%;
    margin-top: 5em;

    @include mobile {
      margin-top: 1em;
    }
  }
}

.attendee {
  display: block;
  max-width: $wedding_party_image_size;
  min-width: $wedding_party_image_size;
  max-height: $wedding_party_image_size;
  min-height: $wedding_party_image_size;
  margin: 0 auto;

  @include mobile {
    margin: 1em auto;
  }

  img {
    width: 100%;
    border: 4px solid white;
  }
}

.cover {
  position: absolute;
  width: $wedding_party_image_size;
  height: $wedding_party_image_size;
  line-height: 103px;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
  text-align: center;
  border: 4px solid white;

  @include mobile {
    display: none;
  }

  span {
    font-size: 1em;
    color: $grey;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  &.groomsmen {
    background-color: grey;
    span {
      color: white;
    }
  }

  &.bridesmaids {
    background-color: $pink;
  }
}

.cover:hover {
  opacity: 0;
}

.ng-modal-overlay {
  position:fixed;
  z-index: 100;
  top: -$nav_bar_height;
  left:0;
  width:100%;
  height:200%;
  background-color:#000000;
  opacity: 0.8;
}

.ng-modal-dialog {
  z-index:10000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
  padding:10px;
  text-align: center;

  img {
    @include mobile {
      zoom: 50%;
    }
  }
}
