@import 'main';

.wedding-party {
  span {
    font-weight: 400;
    font-size: 18px;
    color: $grey;
    line-height: $wedding_party_image_size;
    text-align: center;

    &.title {
      font-weight: 100;
    }

    @include mobile {
      line-height: $wedding_party_image_size;
    }
  }

  .wrapper {
    position: relative;
    margin: 0 auto;
    width: 63%;
    margin-top: 5em;

    @include mobile {
      margin-top: 1em;
    }
  }
}

.attendee {
  display: block;
  max-width: $wedding_party_image_size;
  min-width: $wedding_party_image_size;
  max-height: $wedding_party_image_size;
  min-height: $wedding_party_image_size;
  margin: 0 auto;

  @include mobile {
    margin: 1em auto;
  }

  img {
    max-width: 100%;
    border: 4px solid white;
  }
}

.cover {
  position: absolute;
  width: $wedding_party_image_size;
  height: $wedding_party_image_size;
  line-height: 92px;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
  text-align: center;
  border: 4px solid white;

  @include mobile {
    display: none;
  }

  span {
    font-size: 1em;
    color: $grey;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  &.groomsmen {
    background-color: grey;
     span {
       color: white;
     }
  }

  &.bridesmaids {
    background-color: $pink;
  }
}

.cover:hover {
  opacity: 0;
}


