@import 'utils';
@import 'variables';
@import 'colors';
@import 'font_faces/avenir';
@import 'font-awesome';
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500);

.wedding-party:after, .wedding-party:before {
  background-color: $light_grey;
}

.wedding-party {
  width: 80%;
  margin: 5em auto;

  span {
    font-weight: 300;
    font-size: 24px;
    line-height: calc(100px + 2em);
    text-align: center;
  }

  @include mobile {
    margin: 1em auto;
  }

  .wrapper {
    position: relative;
  }
}

.attendee {
  display: block;
  max-width: 100px;
  min-width: 100px;
  max-height: 100px;
  min-height: 100px;
  margin: 1em auto;
  border: 5px solid white;

  img {
    max-width: 100%;
  }
}

.cover {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

.cover:hover {
  opacity: 0;
}
