@import 'utils';
@import 'variables';
@import 'colors';
@import 'font_faces/avenir';
@import 'font-awesome';
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500);

.wedding-party:after, .wedding-party:before {
  background-color: $light_grey;
}

.wedding-party {
  span {
    font-weight: 300;
    font-size: 18px;
    line-height: 100px;
    text-align: center;

    @include mobile {
      line-height: 100px;
    }
  }

  .wrapper {
    position: relative;
    margin: 0 auto;
    width: 63%;
    margin-top: 5em;

    @include mobile {
      margin-top: 1em;
    }
  }
}

.attendee {
  display: block;
  max-width: 100px;
  min-width: 100px;
  max-height: 100px;
  min-height: 100px;
  margin: 0 auto;

  @include mobile {
    margin: 1em auto;
  }

  img {
    max-width: 100%;
  }
}

.cover {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: $navy_blue;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

.cover:hover {
  opacity: 0;
}
