<!DOCTYPE html>
<html ng-app="natAndP">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=0.55">
  <title>Nat and Peter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
  <div class="footer-content">
    Designed and built by our talented friends.
  </div>
</footer>
</body>
</html>
